In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits, on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies['original_language'].value_counts()

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [8]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [9]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
movies.dropna(inplace = True)

In [12]:
movies.duplicated().sum()

0

In [13]:
movies[0]

KeyError: 0

In [ ]:
movies.iloc[0].genres

In [14]:
def convert(obj):
    L=[]
    for i in ast.literal(obj):
        L.append(i['name'])
    return L

In [15]:
movies['genres'].apply(convert)

NameError: name 'ast' is not defined

In [16]:
import ast
ast.literal_eval()

TypeError: literal_eval() missing 1 required positional argument: 'node_or_string'

In [17]:
import ast

In [18]:
def convert(obj):
    L=[]
    for i in ast.literal(obj):
        L.append(i['name'])
    return L

In [19]:
movies.dropna(inplace=True)

In [20]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

AttributeError: module 'ast' has no attribute 'literal'

In [21]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [22]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [23]:
movies['genres'] = movies['genres'].apply(convert)

In [24]:
movies['keywords'] = movies['keywords'].apply(convert)

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [26]:
movies['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [27]:
def convert3(obj):
    L =[]
    counter =0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [28]:
movies['cast']=movies['cast'].apply(convert3)

In [29]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [30]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [31]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [33]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [34]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [35]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']= movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [36]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [37]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [38]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [39]:
new_df = movies[['movie_id', 'title', 'tags']]

In [40]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Shreyash\AppData\Local\Temp\ipykernel_26304\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [41]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [42]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [43]:
new_df['tags'].apply(lambda x:x.lower())

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bondâ€™s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [44]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features =5000, stop_words='english')

In [46]:
vectors =cv.fit_transform(new_df['tags']).toarray()

In [47]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [48]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
similarity = cosine_similarity(vectors)

In [51]:
similarity[0].shape

(4806,)

In [52]:
similarity[1]

array([0.08964215, 1.        , 0.0625    , ..., 0.02635231, 0.        ,
       0.        ])

In [53]:
def recommend(movie):
    movie_index = new_df[new_df['title']== movie].index[0]
    distances = similarity[movie_index]
    movies_list =sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0].title])

In [54]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [55]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [56]:
import pickle

In [57]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [58]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [59]:
list(enumerate(similarity[0]))

[(0, 1.0000000000000002),
 (1, 0.08964214570007951),
 (2, 0.059761430466719674),
 (3, 0.03984095364447979),
 (4, 0.18257418583505533),
 (5, 0.1183452670827877),
 (6, 0.02258769757263128),
 (7, 0.1763834207376394),
 (8, 0.061721339984836754),
 (9, 0.07644707871564382),
 (10, 0.11769797726729993),
 (11, 0.081199794294115),
 (12, 0.09583148474999097),
 (13, 0.04733810683311508),
 (14, 0.11428571428571427),
 (15, 0.05096471914376255),
 (16, 0.08226127456606226),
 (17, 0.15026857675938213),
 (18, 0.1129384878631564),
 (19, 0.08728715609439693),
 (20, 0.058167505074711086),
 (21, 0.09583148474999097),
 (22, 0.07049073768502413),
 (23, 0.09583148474999097),
 (24, 0.0563436169819011),
 (25, 0.036454130828824455),
 (26, 0.17142857142857143),
 (27, 0.1893524273324603),
 (28, 0.12555296411486888),
 (29, 0.07100716024967262),
 (30, 0.07319250547113999),
 (31, 0.16265001215808886),
 (32, 0.09116846116771035),
 (33, 0.10350983390135314),
 (34, 0.0),
 (35, 0.10350983390135314),
 (36, 0.18478728707195913),
 (37, 0.08451542547285165),
 (38, 0.0628970902033151),
 (39, 0.08827348295047495),
 (40, 0.0563436169819011),
 (41, 0.14638501094227999),
 (42, 0.0),
 (43, 0.09759000729485333),
 (44, 0.03984095364447979),
 (45, 0.09116846116771037),
 (46, 0.1765469659009499),
 (47, 0.2164218276749025),
 (48, 0.06776309271789384),
 (49, 0.06388765649999398),
 (50, 0.12143534814378325),
 (51, 0.086568731069961),
 (52, 0.1389425035941821),
 (53, 0.04984447862792268),
 (54, 0.035245368842512066),
 (55, 0.07859774918918593),
 (56, 0.14414999403128942),
 (57, 0.028988551782622416),
 (58, 0.04688072309384954),
 (59, 0.08024108542850393),
 (60, 0.028571428571428567),
 (61, 0.22131333406899523),
 (62, 0.08199200616907877),
 (63, 0.09200874124564722),
 (64, 0.03138824102871722),
 (65, 0.020965696734438367),
 (66, 0.02492223931396134),
 (67, 0.17928429140015903),
 (68, 0.13522468075656266),
 (69, 0.0520265981714472),
 (70, 0.08696565534786725),
 (71, 0.081199794294115),
 (72, 0.12344267996967351),
 (73, 0.03688555567816587),
 (74, 0.22677868380553634),
 (75, 0.09107651110783743),
 (76, 0.07733088933397005),
 (77, 0.014824986333222025),
 (78, 0.0515539262226467),
 (79, 0.0791945516022682),
 (80, 0.03450327796711771),
 (81, 0.11710800875382396),
 (82, 0.08336550215650926),
 (83, 0.22190115272469205),
 (84, 0.1456438162508838),
 (85, 0.10631548679075009),
 (86, 0.08827348295047495),
 (87, 0.11595420713048966),
 (88, 0.09107651110783743),
 (89, 0.06121333677828399),
 (90, 0.06506000486323554),
 (91, 0.15971914124998496),
 (92, 0.07032108464077431),
 (93, 0.05096471914376255),
 (94, 0.16574838603294897),
 (95, 0.1246111965698067),
 (96, 0.08964214570007951),
 (97, 0.07476671794188401),
 (98, 0.09107651110783743),
 (99, 0.029424494316824985),
 (100, 0.07377111135633174),
 (101, 0.08827348295047495),
 (102, 0.11194341570991125),
 (103, 0.0880237696271323),
 (104, 0.059761430466719674),
 (105, 0.10811249552346706),
 (106, 0.0447773662839645),
 (107, 0.09200874124564722),
 (108, 0.16903085094570328),
 (109, 0.07968190728895957),
 (110, 0.024655683636076894),
 (111, 0.15179418517972906),
 (112, 0.09258200997725513),
 (113, 0.052164053095730106),
 (114, 0.0515539262226467),
 (115, 0.055577001437672836),
 (116, 0.057142857142857134),
 (117, 0.060717674071891624),
 (118, 0.017622684421256033),
 (119, 0.04829452884162951),
 (120, 0.0),
 (121, 0.09107651110783743),
 (122, 0.09759000729485331),
 (123, 0.12327841818038447),
 (124, 0.06776309271789384),
 (125, 0.08021849185198157),
 (126, 0.11595420713048966),
 (127, 0.1366260102127946),
 (128, 0.0),
 (129, 0.10559273546969093),
 (130, 0.03194382824999699),
 (131, 0.1126872339638022),
 (132, 0.04733810683311508),
 (133, 0.033806170189140665),
 (134, 0.13522468075656266),
 (135, 0.0),
 (136, 0.025482359571881275),
 (137, 0.03450327796711771),
 (138, 0.08336550215650926),
 (139, 0.10910894511799617),
 (140, 0.05096471914376255),
 (141, 0.11633501014942217),
 (142, 0.09944903161976938),
 (143, 0.06965451903188581),
 (144, 0.055577001437672836),
 (145, 0.02258769757263128),
 (146, 0.017434201093860163),
 (147, 0.06277648205743444),
 (148, 0.1057361065275362),
 (149, 0.1717355162964367),
 (150, 0.1901597073139162),
 (151, 0.19920476822239894),
 (152, 0.06388765649999398),
 (153, 0.08586775814821836),
 (154, 0.033149677206589796),
 (155, 0.0),
 (156, 0.06716604942594674),
 (157, 0.1057361065275362),
 (158, 0.15289415743128765),
 (159, 0.06761234037828133),
 (160, 0.09569487529386908),
 (161, 0.035245368842512066),
 (162, 0.03688555567816587),
 (163, 0.052796367734845466),
 (164, 0.09258200997725513),
 (165, 0.05039526306789696),
 (166, 0.11952286093343935),
 (167, 0.06761234037828133),
 (168, 0.16035674514745463),
 (169, 0.11952286093343936),
 (170, 0.09200874124564722),
 (171, 0.029880715233359837),
 (172, 0.15118578920369088),
 (173, 0.02492223931396134),
 (174, 0.11115400287534567),
 (175, 0.0515539262226467),
 (176, 0.030860669992418377),
 (177, 0.0),
 (178, 0.02577696311132335),
 (179, 0.07755667343294811),
 (180, 0.023002185311411804),
 (181, 0.02344036154692477),
 (182, 0.10826639239215334),
 (183, 0.07466533929465573),
 (184, 0.18257418583505533),
 (185, 0.055577001437672836),
 (186, 0.04040610178208843),
 (187, 0.14085904245475275),
 (188, 0.022792115291927588),
 (189, 0.08199200616907877),
 (190, 0.08386278693775347),
 (191, 0.05096471914376255),
 (192, 0.0),
 (193, 0.0880237696271323),
 (194, 0.0),
 (195, 0.06506000486323554),
 (196, 0.05797710356524483),
 (197, 0.047809144373375745),
 (198, 0.059761430466719674),
 (199, 0.11609086505314302),
 (200, 0.07968190728895957),
 (201, 0.0),
 (202, 0.03450327796711771),
 (203, 0.08827348295047495),
 (204, 0.02577696311132335),
 (205, 0.07968190728895957),
 (206, 0.11834526708278768),
 (207, 0.0857142857142857),
 (208, 0.1690308509457033),
 (209, 0.03779644730092272),
 (210, 0.05484084971070818),
 (211, 0.027066598098038335),
 (212, 0.07644707871564382),
 (213, 0.06492654830247076),
 (214, 0.029880715233359837),
 (215, 0.07319250547113999),
 (216, 0.06506000486323554),
 (217, 0.045584230583855176),
 (218, 0.042257712736425826),
 (219, 0.06629935441317959),
 (220, 0.18832944617230335),
 (221, 0.024655683636076894),
 (222, 0.09035079029052512),
 (223, 0.08336550215650926),
 (224, 0.06338656910463875),
 (225, 0.052796367734845466),
 (226, 0.029880715233359837),
 (227, 0.09258200997725513),
 (228, 0.12741179785940637),
 (229, 0.07755667343294811),
 (230, 0.08322503785764788),
 (231, 0.0),
 (232, 0.11952286093343935),
 (233, 0.1057361065275362),
 (234, 0.06776309271789384),
 (235, 0.059761430466719674),
 (236, 0.09583148474999097),
 (237, 0.06900655593423542),
 (238, 0.12777531299998796),
 (239, 0.1109741904046188),
 (240, 0.05096471914376255),
 (241, 0.08964214570007951),
 (242, 0.09416472308615166),
 (243, 0.09968895725584535),
 (244, 0.06277648205743444),
 (245, 0.09107651110783743),
 (246, 0.06601782722034923),
 (247, 0.0),
 (248, 0.04733810683311508),
 (249, 0.14414999403128942),
 (250, 0.0),
 (251, 0.042257712736425826),
 (252, 0.022792115291927588),
 (253, 0.06776309271789384),
 (254, 0.08226127456606226),
 (255, 0.0),
 (256, 0.08199200616907877),
 (257, 0.0857142857142857),
 (258, 0.02344036154692477),
 (259, 0.06388765649999398),
 (260, 0.25110592822973776),
 (261, 0.025482359571881275),
 (262, 0.07319250547113999),
 (263, 0.1057361065275362),
 (264, 0.0),
 (265, 0.029424494316824985),
 (266, 0.11115400287534567),
 (267, 0.07207499701564471),
 (268, 0.02742042485535409),
 (269, 0.033149677206589796),
 (270, 0.1031078524452934),
 (271, 0.0791945516022682),
 (272, 0.030860669992418377),
 (273, 0.024147264420814756),
 (274, 0.08095109602454656),
 (275, 0.12555296411486888),
 (276, 0.06629935441317959),
 (277, 0.06601782722034923),
 (278, 0.1031078524452934),
 (279, 0.1031078524452934),
 (280, 0.0),
 (281, 0.07319250547113999),
 (282, 0.030860669992418377),
 (283, 0.0),
 (284, 0.020348923188911988),
 (285, 0.022792115291927588),
 (286, 0.02258769757263128),
 (287, 0.02742042485535409),
 (288, 0.0),
 (289, 0.05039526306789696),
 (290, 0.06629935441317959),
 (291, 0.0563436169819011),
 (292, 0.10141851056742199),
 (293, 0.03194382824999699),
 (294, 0.11952286093343935),
 (295, 0.10968169942141635),
 (296, 0.041300810278220045),
 (297, 0.048795003647426664),
 (298, 0.0),
 (299, 0.041300810278220045),
 (300, 0.18478728707195913),
 (301, 0.1831403087002079),
 (302, 0.059761430466719674),
 (303, 0.028988551782622416),
 (304, 0.07207499701564471),
 (305, 0.1932024558334913),
 (306, 0.09416472308615166),
 (307, 0.10460520656316098),
 (308, 0.07049073768502413),
 (309, 0.06629935441317959),
 (310, 0.036244018814637485),
 (311, 0.1564921592871903),
 (312, 0.11115400287534567),
 (313, 0.07968190728895957),
 (314, 0.0),
 (315, 0.09107651110783743),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.07207499701564471),
 (320, 0.033806170189140665),
 (321, 0.0),
 (322, 0.22230800575069137),
 (323, 0.03253000243161777),
 (324, 0.026398183867422733),
 (325, 0.11338934190276816),
 (326, 0.059761430466719674),
 (327, 0.029424494316824985),
 (328, 0.0),
 (329, 0.08336550215650926),
 (330, 0.1126872339638022),
 (331, 0.04984447862792268),
 (332, 0.1449427589131121),
 (333, 0.030860669992418377),
 (334, 0.10690449676496976),
 (335, 0.055577001437672836),
 (336, 0.07377111135633174),
 (337, 0.024147264420814756),
 (338, 0.0),
 (339, 0.057142857142857134),
 (340, 0.052796367734845466),
 (341, 0.061721339984836754),
 (342, 0.1366260102127946),
 (343, 0.022792115291927588),
 (344, 0.03138824102871722),
 (345, 0.02366905341655754),
 (346, 0.0),
 (347, 0.0),
 (348, 0.06761234037828133),
 (349, 0.09258200997725513),
 (350, 0.05484084971070818),
 (351, 0.0),
 (352, 0.029880715233359837),
 (353, 0.023904572186687872),
 (354, 0.0),
 (355, 0.03984095364447979),
 (356, 0.09107651110783743),
 (357, 0.0),
 (358, 0.06506000486323554),
 (359, 0.03450327796711771),
 (360, 0.0),
 (361, 0.057142857142857134),
 (362, 0.09759000729485331),
 (363, 0.09116846116771037),
 (364, 0.026082026547865053),
 (365, 0.081199794294115),
 (366, 0.059761430466719674),
 (367, 0.0),
 (368, 0.13522468075656266),
 (369, 0.09258200997725513),
 (370, 0.0563436169819011),
 (371, 0.1031078524452934),
 (372, 0.05345224838248488),
 (373, 0.17622684421256032),
 (374, 0.04401188481356615),
 (375, 0.0432843655349805),
 (376, 0.048795003647426664),
 (377, 0.0),
 (378, 0.0),
 (379, 0.05345224838248487),
 (380, 0.02817180849095055),
 (381, 0.09035079029052512),
 (382, 0.0),
 (383, 0.0515539262226467),
 (384, 0.03253000243161777),
 (385, 0.0),
 (386, 0.023218173010628604),
 (387, 0.027066598098038335),
 (388, 0.0),
 (389, 0.09944903161976938),
 (390, 0.028571428571428567),
 (391, 0.061046769566735964),
 (392, 0.03138824102871722),
 (393, 0.0),
 (394, 0.026082026547865053),
 (395, 0.057142857142857134),
 (396, 0.02344036154692477),
 (397, 0.055577001437672836),
 (398, 0.0),
 (399, 0.02577696311132335),
 (400, 0.10350983390135314),
 (401, 0.03194382824999699),
 (402, 0.06277648205743444),
 (403, 0.1109741904046188),
 (404, 0.06761234037828133),
 (405, 0.030860669992418377),
 (406, 0.021821789023599235),
 (407, 0.02577696311132335),
 (408, 0.03688555567816587),
 (409, 0.0),
 (410, 0.10079052613579392),
 (411, 0.05797710356524483),
 (412, 0.1031078524452934),
 (413, 0.1389425035941821),
 (414, 0.033149677206589796),
 (415, 0.0708769911938334),
 (416, 0.0563436169819011),
 (417, 0.03450327796711771),
 (418, 0.03779644730092272),
 (419, 0.07644707871564382),
 (420, 0.12888481555661674),
 (421, 0.0),
 (422, 0.14754222271266348),
 (423, 0.0515539262226467),
 (424, 0.040697846377823976),
 (425, 0.07100716024967262),
 (426, 0.06195121541733006),
 (427, 0.030860669992418377),
 (428, 0.05976143046671968),
 (429, 0.0),
 (430, 0.052164053095730106),
 (431, 0.02577696311132335),
 (432, 0.12598815766974242),
 (433, 0.033149677206589796),
 (434, 0.0),
 (435, 0.03984095364447979),
 (436, 0.0),
 (437, 0.028988551782622416),
 (438, 0.028571428571428567),
 (439, 0.030860669992418377),
 (440, 0.028571428571428567),
 (441, 0.030358837035945812),
 (442, 0.04829452884162951),
 (443, 0.05884898863364997),
 (444, 0.0),
 (445, 0.028571428571428567),
 (446, 0.02577696311132335),
 (447, 0.023904572186687872),
 (448, 0.02577696311132335),
 (449, 0.05884898863364997),
 (450, 0.026398183867422733),
 (451, 0.026082026547865053),
 (452, 0.03194382824999699),
 (453, 0.02672612419124244),
 (454, 0.1246111965698067),
 (455, 0.024655683636076894),
 (456, 0.07032108464077431),
 (457, 0.08827348295047495),
 (458, 0.04733810683311508),
 (459, 0.036037498507822355),
 (460, 0.028571428571428567),
 (461, 0.18018749253911176),
 (462, 0.0),
 (463, 0.035245368842512066),
 (464, 0.0),
 (465, 0.0),
 (466, 0.2114722130550724),
 (467, 0.09200874124564722),
 (468, 0.030358837035945812),
 (469, 0.07032108464077431),
 (470, 0.04931136727215379),
 (471, 0.08336550215650926),
 (472, 0.08451542547285165),
 (473, 0.1019294382875251),
 (474, 0.0),
 (475, 0.06837634587578277),
 (476, 0.10811249552346706),
 (477, 0.0),
 (478, 0.04040610178208843),
 (479, 0.09508728264112047),
 (480, 0.052164053095730106),
 (481, 0.0),
 (482, 0.030358837035945812),
 (483, 0.1301200097264711),
 (484, 0.03450327796711771),
 (485, 0.057142857142857134),
 (486, 0.05855400437691198),
 (487, 0.14098147537004826),
 (488, 0.07655590023509526),
 (489, 0.0),
 (490, 0.15118578920369088),
 (491, 0.09116846116771037),
 (492, 0.06277648205743444),
 (493, 0.01951800145897066),
 (494, 0.0),
 (495, 0.2162249910469341),
 (496, 0.0),
 (497, 0.0),
 (498, 0.07207499701564471),
 (499, 0.0),
 (500, 0.027788500718836418),
 (501, 0.0880237696271323),
 (502, 0.15289415743128765),
 (503, 0.08451542547285165),
 (504, 0.0),
 (505, 0.14754222271266348),
 (506, 0.036037498507822355),
 (507, 0.25302403842552984),
 (508, 0.11595420713048966),
 (509, 0.02577696311132335),
 (510, 0.10559273546969093),
 (511, 0.09583148474999097),
 (512, 0.060717674071891624),
 (513, 0.11769797726729994),
 (514, 0.059761430466719674),
 (515, 0.027066598098038335),
 (516, 0.026082026547865053),
 (517, 0.0),
 (518, 0.05484084971070818),
 (519, 0.0),
 (520, 0.0),
 (521, 0.028988551782622416),
 (522, 0.0),
 (523, 0.052164053095730106),
 (524, 0.0),
 (525, 0.02492223931396134),
 (526, 0.0),
 (527, 0.0),
 (528, 0.02519763153394848),
 (529, 0.13041013273932525),
 (530, 0.10141851056742199),
 (531, 0.05039526306789696),
 (532, 0.023218173010628604),
 (533, 0.07049073768502413),
 (534, 0.08451542547285165),
 (535, 0.10968169942141635),
 (536, 0.07644707871564382),
 (537, 0.07049073768502413),
 (538, 0.0),
 (539, 0.26089696604360174),
 (540, 0.0563436169819011),
 (541, 0.06965451903188581),
 (542, 0.04040610178208843),
 (543, 0.08827348295047495),
 (544, 0.060717674071891624),
 (545, 0.028571428571428567),
 (546, 0.06629935441317959),
 (547, 0.08827348295047495),
 (548, 0.0),
 (549, 0.1246111965698067),
 (550, 0.028571428571428567),
 (551, 0.0447773662839645),
 (552, 0.0),
 (553, 0.03253000243161777),
 (554, 0.0),
 (555, 0.04972451580988469),
 (556, 0.028988551782622416),
 (557, 0.1449427589131121),
 (558, 0.0),
 (559, 0.03253000243161777),
 (560, 0.04643634602125721),
 (561, 0.03688555567816587),
 (562, 0.0),
 (563, 0.02742042485535409),
 (564, 0.09944903161976938),
 (565, 0.04600437062282361),
 (566, 0.024655683636076894),
 (567, 0.030358837035945812),
 (568, 0.1449427589131121),
 (569, 0.024397501823713332),
 (570, 0.07559289460184544),
 (571, 0.021821789023599235),
 (572, 0.086568731069961),
 (573, 0.02258769757263128),
 (574, 0.024397501823713332),
 (575, 0.057142857142857134),
 (576, 0.028988551782622416),
 (577, 0.15430334996209188),
 (578, 0.04829452884162951),
 (579, 0.12344267996967351),
 (580, 0.02519763153394848),
 (581, 0.16574838603294897),
 (582, 0.2439750182371333),
 (583, 0.052164053095730106),
 (584, 0.05096471914376255),
 (585, 0.0),
 (586, 0.045584230583855176),
 (587, 0.07824607964359516),
 (588, 0.028988551782622416),
 (589, 0.09862273454430757),
 (590, 0.035245368842512066),
 (591, 0.07733088933397005),
 (592, 0.027066598098038335),
 (593, 0.0),
 (594, 0.05484084971070818),
 (595, 0.13533299049019168),
 (596, 0.09658905768325902),
 (597, 0.05797710356524483),
 (598, 0.03984095364447979),
 (599, 0.03363839659676322),
 (600, 0.07244179326244427),
 (601, 0.03688555567816587),
 (602, 0.04517539514526256),
 (603, 0.05797710356524483),
 (604, 0.07049073768502413),
 (605, 0.0),
 (606, 0.0),
 (607, 0.06492654830247076),
 (608, 0.0),
 (609, 0.047809144373375745),
 (610, 0.06060915267313264),
 (611, 0.02492223931396134),
 (612, 0.07100716024967262),
 (613, 0.03877833671647406),
 (614, 0.059761430466719674),
 (615, 0.033149677206589796),
 (616, 0.0),
 (617, 0.055577001437672836),
 (618, 0.09862273454430757),
 (619, 0.0),
 (620, 0.0),
 (621, 0.07049073768502413),
 (622, 0.02238868314198225),
 (623, 0.0),
 (624, 0.12298800925361815),
 (625, 0.03194382824999699),
 (626, 0.09258200997725513),
 (627, 0.11633501014942217),
 (628, 0.0),
 (629, 0.04984447862792268),
 (630, 0.02577696311132335),
 (631, 0.02742042485535409),
 (632, 0.08336550215650926),
 (633, 0.023904572186687872),
 (634, 0.08696565534786725),
 (635, 0.07559289460184544),
 (636, 0.028571428571428567),
 (637, 0.052796367734845466),
 (638, 0.036037498507822355),
 (639, 0.0),
 (640, 0.0515539262226467),
 (641, 0.0),
 (642, 0.0),
 (643, 0.10690449676496976),
 (644, 0.05797710356524483),
 (645, 0.047809144373375745),
 (646, 0.055577001437672836),
 (647, 0.052796367734845466),
 (648, 0.03253000243161777),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.024655683636076894),
 (653, 0.12298800925361815),
 (654, 0.089554732567929),
 (655, 0.026082026547865053),
 (656, 0.0),
 (657, 0.037332669647327864),
 (658, 0.05345224838248488),
 (659, 0.027066598098038335),
 (660, 0.10350983390135314),
 (661, 0.17036708399998393),
 (662, 0.0),
 (663, 0.0),
 (664, 0.06506000486323554),
 (665, 0.0791945516022682),
 (666, 0.052164053095730106),
 (667, 0.0),
 (668, 0.07049073768502413),
 (669, 0.036037498507822355),
 (670, 0.017817416127494958),
 (671, 0.05413319619607667),
 (672, 0.05884898863364997),
 (673, 0.023002185311411804),
 (674, 0.07396705090823068),
 (675, 0.0515539262226467),
 (676, 0.033149677206589796),
 (677, 0.027788500718836418),
 (678, 0.06277648205743444),
 (679, 0.0),
 (680, 0.08451542547285165),
 (681, 0.035245368842512066),
 (682, 0.024147264420814756),
 (683, 0.0515539262226467),
 (684, 0.0),
 (685, 0.03779644730092272),
 (686, 0.0),
 (687, 0.11595420713048966),
 (688, 0.05096471914376255),
 (689, 0.0),
 (690, 0.028988551782622416),
 (691, 0.10141851056742199),
 (692, 0.12073632210407378),
 (693, 0.0),
 (694, 0.022792115291927588),
 (695, 0.06900655593423542),
 (696, 0.0),
 (697, 0.0),
 (698, 0.02366905341655754),
 (699, 0.0),
 (700, 0.030860669992418377),
 (701, 0.06506000486323554),
 (702, 0.024397501823713332),
 (703, 0.020965696734438367),
 (704, 0.07396705090823068),
 (705, 0.025482359571881275),
 (706, 0.026082026547865053),
 (707, 0.0),
 (708, 0.025482359571881275),
 (709, 0.0),
 (710, 0.0447773662839645),
 (711, 0.06629935441317959),
 (712, 0.0),
 (713, 0.02742042485535409),
 (714, 0.0),
 (715, 0.1057361065275362),
 (716, 0.035245368842512066),
 (717, 0.0),
 (718, 0.04643634602125721),
 (719, 0.0),
 (720, 0.02742042485535409),
 (721, 0.033149677206589796),
 (722, 0.0),
 (723, 0.02672612419124244),
 (724, 0.02577696311132335),
 (725, 0.0),
 (726, 0.0),
 (727, 0.036454130828824455),
 (728, 0.07559289460184544),
 (729, 0.0),
 (730, 0.019138975058773815),
 (731, 0.05484084971070818),
 (732, 0.0791945516022682),
 (733, 0.0447773662839645),
 (734, 0.05039526306789696),
 (735, 0.04984447862792268),
 (736, 0.033149677206589796),
 (737, 0.08017837257372731),
 (738, 0.0),
 (739, 0.03877833671647406),
 (740, 0.13199091933711365),
 (741, 0.05884898863364997),
 (742, 0.03450327796711771),
 (743, 0.02577696311132335),
 (744, 0.06761234037828133),
 (745, 0.06277648205743444),
 (746, 0.08696565534786725),
 (747, 0.024147264420814756),
 (748, 0.03779644730092272),
 (749, 0.0),
 (750, 0.0515539262226467),
 (751, 0.03779644730092272),

In [60]:
sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x:x[1])[1:6]

[(539, 0.26089696604360174),
 (1194, 0.2581988897471611),
 (507, 0.25302403842552984),
 (260, 0.25110592822973776),
 (1216, 0.24944382578492943)]

In [61]:
from sklearn.feature_extraction.text import TfidfTransformer

In [62]:
import nltk

In [63]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [64]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [65]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Shreyash\AppData\Local\Temp\ipykernel_26304\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [66]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [67]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [68]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [69]:
import ast
ast.literal_eval()

TypeError: literal_eval() missing 1 required positional argument: 'node_or_string'

In [70]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [71]:
convert()

TypeError: convert() missing 1 required positional argument: 'obj'